<!doctype html>
{% load static %}
<html lang="en">

<head>
  <title>Club de Rifas</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class='container mt-2  '>
  <header>
    <div class="mt-2 text-center">
    <img src="{% static "images/logo.png" %}" class="img-fluid rounded-top  " alt="">
    </div>
  </header>
  <main>
  
      <div class="border border-dark border-4">
          <div class="row justify-content-center align-items-top g-2">
              <div class="col-12 display-3 bg-dark text-white text-center">Club de Rifas </div>
              <div class="col p-5">
                  <h1 class="fs-4">{{venta.rifas}} </h1>
                  <h2 class="fs-5">Fecha de Inicio{{venta.r.fecha_inicio}}</h2>
                  <h2 class="fs-5">Fecha de Termino{{venta.r.fecha_termino}}</h2>
              </div>
              <div class="col">
                  <h1 class="fs-4">{{venta.nombre}}</h1>
                  <h2 class="fs-5">Telefono{{venta.telefono}}</h2>
                  <h2 class="fs-5">Numero de rifa{{venta.numero_compra}}</h2>
              </div>
              </div>
      </div>


    
      
  </main>
  <footer>
  
  </footer>
  <div class="alert alert-dark text-center mt-5" role="alert">
    <strong>Todos los derechos reservados 2023</strong>
</div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>